<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{site.baseurl}}/favicon.ico">

    {% unless page.title == null %}
      <meta property="og:title" content="{{ page.title }}" />
    {% endunless %}

    <title>Youth in front</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="{{site.baseurl}}/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{site.baseurl}}/css/album.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/yif.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/fontawesome-all.min.css" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115327488-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-115327488-1');
    </script>
    
  </head>

  <body>

    <header class="sticky-top">
      <div class="navbar yif-navbar">
        <div class="logo-pack">
          <a href="/"><img class="page-logo" src="/images/logo-black-wide.png"/></a>
          <div class="header-tagline d-none d-lg-block">
            Advice on Leading Change from Experienced Youth Activists and Allies
          </div>
        </div>
        <div class="sponsor-pack">
          <a href="https://tsl.mit.edu/"><img class="about-logo" alt="MIT Logo" src="/images/mit-teaching-systems-lab-logo.png"/></a>
          <a href="https://www.gse.harvard.edu/uk"><img class="about-logo" alt="Harvard Logo" src="/images/UK_HGSE_oneline.png"/></a>
        </div>
      </div>
    </header>


    <div class="sub-header">
      <div class="subheader-tagline d-block d-lg-none">
        Advice on Leading Change from Experienced Youth Activists and Allies
      </div>
      {% if layout.show_teacher_student_toggle %}
        <div class="top-level-tabs">
          <div class="{% if page.audience == 'students' %}active-audience{% endif %}"><a href="/">Youth</a></div>
          <div class="{% if page.audience == 'teachers' %}active-audience{% endif %}"><a href="/teachers.html">Adults</a></div>
        </div>
      {% endif %}
    </div>


    {{ content }}

    <footer class="text-muted">
      <div class="container">
        <a class="footer-link no-underline color-3" href="/about.html">About</a>
        <a class="footer-link no-underline color-3" href="/contact.html">Contact</a>
        <div class="logo-pack">
          <a href="/"><img class="page-logo" src="/images/logo-black-wide.png"/></a>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
    <script src="{{site.baseurl}}/js/holder.min.js"></script>
    <script src="{{site.baseurl}}/js/dragscroll.js"></script>
    <link rel="shortcut icon" type="image/png" href="favicon/favicon-16x16.png">
  </body>
</html>
