<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{site.baseurl}}/favicon.ico">

    <title>Youth in front</title>

    <!-- Bootstrap core CSS -->
    <link href="{{site.baseurl}}/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{site.baseurl}}/css/album.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/yif.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/fontawesome-all.min.css" rel="stylesheet">

  </head>

  <body>

    <header class="sticky-top">
      <div class="navbar yif-navbar">
        <a href="/"><img class="page-logo" src="/images/logo-black-wide.png"/></a>
        {% if layout.show_teacher_student_toggle %}
          <div class="top-level-tabs">
            <div class="{% if page.audience == 'students' %}active-audience{% endif %}"><a href="/">Students</a></div>
            <div class="{% if page.audience == 'teachers' %}active-audience{% endif %}"><a href="/teachers.html">Teachers</a></div>
          </div>
        {% endif %}
      </div>
    </header>

    <div class="sub-header">
      <span class="sub-title">Advice on Walkouts from Experienced Youth Activists and Allies</span>
        <span class="sub-header-about"><ul><li class="sub-header-item"><img class="about-logo" alt="MIT Logo" src="/images/mit-teaching-systems-lab-logo.png"/></li><li class="sub-header-item"><img class="about-logo" alt="Harvard Logo" src="/images/hgse-logo.png"/></li></ul></span>
    </div>


    {{ content }}

    <footer class="text-muted">
      <div class="container">
        <a class="footer-link no-underline color-3" href="/about.html">About</a>
        <a class="footer-link no-underline color-3" href="/contact.html">Contact</a>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
    <script src="{{site.baseurl}}/js/holder.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="favicon/favicon-16x16.png">
  </body>
</html>
