<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{site.baseurl}}/favicon.ico">

    <title>Youth in front</title>

    <!-- Bootstrap core CSS -->
    <link href="{{site.baseurl}}/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{site.baseurl}}/css/album.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/yif.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/fontawesome-all.min.css" rel="stylesheet">

  </head>

  <body>

    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">Follow on Twitter</a></li>
                <li><a href="#" class="text-white">Like on Facebook</a></li>
                <li><a href="#" class="text-white">Email me</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar box-shadow">
        <div class="container">
          <img class="page-logo" src="/images/logo-black-wide.png"/>
        </div>
      </div>
    </header>

    {{ content }}

    <footer class="text-muted">
      <div class="container">
        <a class="footer-link color-3" href="/about.html">About</a>
        <a class="footer-link color-3" href="/contact.html">Contact</a>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
    <script src="{{site.baseurl}}/js/holder.min.js"></script>
  </body>
</html>
