---
layout: default
---

<main role="main">
  <div class="top-level-tabs">
    <div class="{% if page.audience == 'students' %}active-audience{% endif %}"><a href="/">Students</a></div>
    <div class="{% if page.audience == 'teachers' %}active-audience{% endif %}"><a href="/teachers.html">Teachers</a></div>
  </div>
  {% for post in site.posts reversed %}
    {% if post[page.audience] %}
    <div class="side-bleed" href="{{ post.url }}" style="background-image: url({{post.bg_img}})">
      <div class="gradient-bleed background-gradient-{{forloop.index | plus: -1 | modulo: 6 | plus: 1}}"></div>
      <div class="card-body">
        <div class="card-top">
          <p class="card-text section-title">{{post.title}}</p>
          <p class="card-text section-description section-text">{{post.subtitle}}</p>
        </div>
        <div class="card-bottom color-{{forloop.index | plus: -1 | modulo: 6 | plus: 1}}">
          <div class="card-text section-video-preview">
            {% for card in post.cards %}
              {% if forloop.index != 1 %}
                <div class="video-timeline-connector"></div>
              {% endif %}
              <a class="no-underline" href="{{card.content.href}}">
                <div class="video-timeline-description video-timeline-shadowed">
                  {% if card.content.is_video %}<i class="fas fa-play"></i>{% endif %}
                  <div class="video-timeline-description-inner">
                    <h1>{{card.content.title}}</h1>
                    {% if card.content.subtitle %}<p>{{card.content.subtitle}}</p>{% endif %}
                  </div>
                </div>
              </a>
            {% endfor %}
          </div>
          <div class="video-preview"></div>
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}
</main>