---
layout: default
---
<div class="banner background-gradient-1"><h1 class="banner-title container">{{ page.title }}</h1></div>
<div class="container page-container">
    <div class="col-sm article-container">
        {% unless page.pdf == null %}
        <div class="pdf-container">
            <embed class="pdf" src="{{ page.pdf }}" type="application/pdf" />
        </div>
        <div class="pdf-download-link">
            <a href="{{ page.pdf }}">Download</a>
        </div>
        {% endunless %}

        {{ content }}

        <div class="previous-next">
            {% unless page.previous == null %}
            <div class="previous-container">
                <a href="{{ page.previous }}" class="previous"><i class="fas fa-angle-left"></i> Previous</a>
            </div>
            {% endunless %}
            {% unless page.next == null %}
            <div class="previous-container">
                <a href="{{ page.next }}" class="next">Next <i class="fas fa-angle-right"></i></a>
            </div>
            {% endunless %}
        </div>
    </div>
</div>

<script src="{{site.baseurl}}/js/tweet.js" type="text/javascript"></script>